*.xmsgs
*.xise
*.bgn
*.bin
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.ncd
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.csv
*.xml
*.log
*.gise
